
      <h1>Hello, {{ title }}</h1>

      <nav>
        <ul >
          <!-- <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">HOME Component</a></li>
          <li><a routerLink="/items" routerLinkActive="active" ariaCurrentWhenActive="page">ITEMS Component</a></li> -->
          <li><a href="/home" routerLinkActive="active" ariaCurrentWhenActive="page">HOME Component</a></li>
          <li><a href="/items" routerLinkActive="active" ariaCurrentWhenActive="page">ITEMS Component</a></li>
          <li><a href="https://angular.io">click it</a></li>
        </ul>
      </nav>
      <p>signal data is : {{mainService.data()}}</p>
      <p>old data is : {{mainService.oldData}}</p>
      <h2>data is {{ data }}</h2>
      <h2>{{env | json}}</h2>

     
      <!-- @if(data == 5){
        <p>Yes, it is 5</p>
      } @else {
        <p>No, it is not 5</p>
      }

   
      <p *ngIf="data == 5">
        Yes, it is 5
      </p>
      <p *ngIf="data != 5">
        No, it is not 5
      </p>

      @for (item of array_Data; track item; let i = $index) {
        <h3>data number {{ i }} : {{ item }}</h3>
      } @empty {
        <p>wtf that array how nothing</p>
      }

      <br>

      <p *ngFor="let item of array_Data; let i = index">
        data number {{ i }} : {{ item }}
      </p>
       -->
      <p>Congratulations! Your app is running. 🎉</p>

<hr>

<router-outlet></router-outlet>
